<!DOCTYPE html>
<html lang="en" ng-app="store">
<!--includes the "store" module-->

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Angular Book Store</title>
</head>

<body ng-controller="StoreController as store">
    <div class="container">
        <ul class="list-group text-center">
            <li class- "list-group-item" ng-repeat="product in store.products">
                <h3>{{product.name}}
                <em class="pull-right">{{product.price|currency}}</em>
                <img ng-src="{{product.images[0].full}}"/>
                </h3>
                <section ng-controller="PanelController as panel">
                    <!--removed ng-init="tab=1"-->
                    <!--tab 1 is initialized-->
                    <ul class="nav nav-pills">
                        <li ng-class="{ active: panel.isSelected(1)}">
                            <!--if the expression tab===1 is true, then the ng classs called active is active-->
                            <a href ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(2)}">
                            <!--repaced acive:tab==3-->
                            <a href ng-click="panel.selectTab(2)">Release Date</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>
                    <!--{{tab}}-->
                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Release Date</h4>
                        <blockquote>None yet</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>
                        <blockquote>None yet</blockquote>
                    </div>
                </section>
            </li>
        </ul>
        <!--
        <div ng-repeat="item in store.products">
            <div ng-hide="item.soldOut">
                <h1>{{item.name}}</h1>
                <h2>{{item.price | currency}}</h2>
                <p>{{item.description}}</p>
                <button ng-show="store.product.canPurchase">Add to Cart</button>
                <!--only show if expression=true
                -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>